.contenedor {
  display: flex;
  justify-content: space-around;
  margin: 15px; }
  .contenedor #canvas {
    border: 2px solid #000; }
  .contenedor .contenedor_puntuacion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; }
    .contenedor .contenedor_puntuacion div {
      margin: 15px;
      padding-bottom: 30px; }
